/* VALORI DI DEFAULT E RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

a{
    color: black;
    text-decoration: none;
}

ul{
    list-style: none;
}

h1{
    font-size: 4.5rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.5rem;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.w-65{
    width: 65%;
    margin: auto;
}

.w-80{
    width: 80%;
    margin: auto;
}

.link{
    color: #0061ff;
    text-decoration: underline;
    cursor: pointer;
}

.link:hover{
    color: #3984ff;
}

.link:active{
    color: #0055df;
}

/* BUTTONS AND BACKGROUNDS */

.btn{
    line-height: 200%;
    vertical-align: 2px;
    cursor: pointer;
}

.blue-btn{
    background-color: #0061ff;
    border: none;
    color: white;
    transition: 0.3s;
}

.blue-btn:hover{
    background-color: #3984ff;
    transition: 0.3s;
}

.blue-btn:active{
    background-color: #0055df;
}

.navbar-btn{
    padding: 2px 25px;
    margin-left: 20px;
    font-size: 0.8rem;
}

.main-btn{
    padding: 2px 25px;
    font-size: 1rem;
}

.col-btn{
    width: 100%;
    font-size: 0.8rem;
}

/* FIXED NAVBAR */

header{
    height: 103px;
}

.fixed-navbar{
    position: fixed;
    width: 100%;
    display: block;
    background-color: white;
    z-index: 99;
}

.fixed-navbar-logo{
    float: left;
    margin-right: 20px;
}

.fixed-navbar-logo img{
    vertical-align: -5px;
}

.fixed-navbar-left-content{
    float: left;
    padding: 0px 30px;
    line-height: 100px;
}

.fixed-navbar-right-content{
    float: right;
    padding: 0px 30px;
    line-height: 100px;
}

.fixed-navbar-list li{
    display: inline-block;
    margin: 0px 30px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: 0.2s;
}

.list-element:hover li{
    border-bottom: 3px solid black;
    transition: 0.2s;
}

.fixed-navbar-list{
    display: inline-block;
    box-sizing: border-box;
}

.lightblue{
    background-color: #b4d0e7;
}

/* FIXED NAVBAR DROPDOWN MENU */

.fixed-navbar-dropdown{
    position: absolute;
    width: 300px;
    line-height: 30px;
    visibility: hidden;
    background-color: white;
    margin-left: 30px;
}

.dropdown:hover .fixed-navbar-dropdown, .dropdown:hover .dropdown-list li{
    visibility: visible;
}

.fixed-navbar-dropdown:hover{
    visibility: visible;
}

.dropdown-list li{
    font-size: 0.8rem;
    padding: 10px 10px;
    margin: 0px;
    display: block;
    cursor: pointer;
    transition: 0s;
    border-color: transparent !important;
    visibility: hidden;
}

.dropdown-list li:hover{
    border-color: transparent;
    background-color: #f1f1f1;
}

.dropdown-list li:active{
    background-color: #e9e9e9;
}

/* SECTION 1 */

.section1 h1{
    padding-top: 100px;
}

.section1 .left-col{
    width: 31%;
    margin-top: 50px;
    font-size: 1rem;
    float: left;
}

.section1 .left-col button{
    margin: 30px 0px 10px;
}

.section1 .left-col button + p{
    font-size: 0.8rem;
}

.section1 .left-col i{
    font-size: 3rem;
    margin: 50px 0px;
}

.section1 .right-col{
    width: calc( 69% - 80px );
    margin-top: 50px;
    margin-left: 80px;
    float: right;
}

.section1 .right-col img{
    width: 1000px;
    position: relative;
    margin-top: -100px;
    bottom: -100px;
}

/* SECTION 2 RADIO BUTTONS */

.section2 .container:first-child{
    padding-top: 250px;
}

.section2 .radio-buttons{
    margin: 80px 0px 50px;
}

.section2 .radio-label{
    cursor: pointer;
}

.radio-label p{
    display: inline-block;
    width: 200px;
}

.section2 input[type=radio]{
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}

.section2 input[type=radio]:checked{
    background-color: #0061ff;
    border: 1px solid #0061ff;
}

.section2 input[type=radio]:checked::before{
    content: "\2B24";
    position: absolute;
    margin-left: 5.5px;
    margin-top: 2px;
    color: white;
}

/* SECTION 2 PRICE PLANS */

.section2 .plans{
    width: 100%;
}

.col{
    width: calc(100% / 3 - 150px / 3);
    height: 1150px;
    border: 2px solid #e0e0e0;
    float: left;
}

.col-mid{
    margin: 0px 75px;
}

.plan-type{
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #e0e0e0;
}

.plan-type p{
    display: inline-block;
}

.plan-content{
    padding: 30px;
}

.plan-content h4{
    padding: 15px 0px 5px;
}

.plan-content p{
    font-size: 0.8rem;
}

.plan-content .subscription-recurrence{
    margin-top: 0px;
    padding-bottom: 30px;
    font-size: 0.8rem;
    display: block;
    color: gray;
}

.plan-content button{
    margin: 30px 0px;
}

.feature{
    width: 100%;
    margin: 25px 0px;
}

.feature .icon, .feature .text{
    float: left;
}

.feature .icon{
    width: 8%;
    font-size: 0.8rem;
    vertical-align: middle;
}

.feature .text{
    width: 92%;
}

.feature .fa-check{
    color: #0061ff;
    font-size: 1rem;
    vertical-align: middle;
}

.feature li{
    font-size: 0.85rem;
}

.plan-content hr{
    width: 20%;
    border: 1px solid #e0e0e0;
    margin: 30px 0px;
}